{
  "trailingComma": "es5",
  "tabWidth": 4,
  "semi": false,
  "singleQuote": true,
  "printWidth": 160,
  "bracketSpacing": true,
  "useTabs": false,
  "arrowParens": "avoid",
  "embeddedLanguageFormatting": "off"
}